body {
    background-color: gainsboro;
}
.title{
    display: inline;
}

h1{
    padding-top: 50px;
    color: olive;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

#image {
    display: block;
    align-content: center;
    margin-left: auto;
}